
<div class="gridster">
  <ul>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-view="Hotness" data-id="opsgenie_p1" data-title="P1" data-cool="0" data-warm="0"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-view="Hotness" data-id="opsgenie_open" data-title="Open" data-cool="0" data-warm="2"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-view="Hotness" data-id="opsgenie_unseen" data-title="Not Seen" data-cool="0" data-warm="2"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-view="Hotness" data-id="opsgenie_unack"  data-title="Not Ackd" data-cool="0" data-warm="2"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-view="Hotness" data-id="opsgenie_p2" data-title="P2" data-cool="0" data-warm="2"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-view="Hotness" data-id="opsgenie_p3" data-title="P3" data-cool="2" data-warm="5"></div>
  </li>

  </ul>
</div>