<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-view="OpsgenieAlerts" data-id="opsgenie_open"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-view="OpsgenieAlerts" data-id="opsgenie_unseen"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-view="OpsgenieAlerts" data-id="opsgenie_unack"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-view="OpsgenieAlerts" data-id="opsgenie_p1"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
    <div data-view="OpsgenieAlerts" data-id="opsgenie_p2"></div>
  </li>

  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-view="OpsgenieAlerts" data-id="opsgenie_p3"></div>
  </li>
</ul>
</div>