<div class="gridster">
  <ul>
  <li data-row="1" data-col="1" data-sizex="1" data-sizey="1">
  <div data-view="OpsgenieAlerts" data-id="opsgenie_unack"></div>
  </li>
  <li data-row="1" data-col="2" data-sizex="1" data-sizey="1">
  <div data-view="OpsgenieAlerts" data-id="opsgenie_open"></div>
  </li>
  </ul>
</div>
